@use '../abstract' as*;


.banner--nxtgen{
    background-image: url('../../images/nxtgen/NXTGEN-PageBanner-Mobile-767x455px-banner-mobile.jpg');
    @include mediaQuery{
        background-image: url('../../images/nxtgen/NXTGEN-PageBanner-1920x611px-banner.jpg');
    }
}

.nxtgen{
    h2{
        font-size: clamp(3rem, 6vvw, 5rem);
        font-family: Speedee-bold;
    }
    padding: 5rem 0;

    &__place{
        h3{
            text-decoration: underline;
            font-weight: 700;
        }      
               
    }

    iframe{
        aspect-ratio: 16 / 9;
    }
    
    
}


  